* {
    margin:7px;
}
body {
    background-color: rgb(252, 221, 174);
}
h1 {
    padding: 15px;
    color:rgb(255, 247, 0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:rgb(219, 159, 189);
    text-shadow: 5px 0px 10px rgb(255, 89, 0);
}
h3 {
    width: 300px;
    font-family: 'Gasoek One', sans-serif;
}
#box1 {    
    width: 300px;
    margin-left: 20px;
    border-width: thin;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(139, 97, 147);
    box-shadow: 3px 3px 10px 2px rgb(170, 147, 72);
    
    background-color:rgb(245, 233, 251);
}
#box2 {
    border-style: dotted;
    padding: 10px;
    margin: 20px 10px 20px 20px;
    background-color:rgb(254, 188, 188);
}
h2 {
    color:red;
}
.accent {
    border: 1px solid #2076a7;
    padding: 2px;
    background-color: aquamarine;
}
.bg {
    background-color: rgb(184, 246, 142);
}
#container1 {
    width: 500px;
    padding: 7px;
    margin: 7px auto;
    padding-bottom: 10px;
    border-radius: 17px;
    border: 1px solid #000;
    background-color: rgb(245, 251, 155);
}
/*이 밑에거...... 왜 크기가 안맞지????????????? 하여간 일단 패스함*/
#container2 {
    width: 920px;
    margin: 10px auto;
}
#header {
    width: 888px;
    height: 120px;
    background-color: #539e5f;
}
#left-sidebar {
    width: 200px;
    height: 500px;
    background-color: #adcdb2;
    float: left;
}
#right-sidebar {
    width: 200px;
    height: 500px;
    background-color: #adcdb2;
    float: left;
}
#contents1 {
    width: 460px;
    height: 500px;
    background-color: #c3ebca;
    float: left;
}
#footer {
    width: 888px;
    height: 120px;
    background-color: #539e5f;
    clear: left;
}
/*-----------------------------------------*/

#box3-static {
    width:100px;
    height:100px;
    background-color: #ffcc00;
    border:1px solid #c59e03;
    line-height:2;
    
    position:static;
}
#box4-relative {
    width:100px;
    height:100px;
    background-color: #ffcc00;
    border:1px solid #c59e03;
    line-height:2;

    position:relative;
    left: 10px;
    top: -80px;
}
#box5-relative {
    width:100px;
    height:100px;
    background-color: #ffcc00;
    border:1px solid #c59e03;
    line-height:2;

    position:relative;
    left:20px;
    top:-160px;
}
/*-----------------------------*/
h4 {
    box-sizing: border-box;
    margin: 8px;
    padding: 10px;

    color: #fff;
    font-size: 20px;
    text-shadow: 2px 3px 0 #000;
}
#contents2 {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
   
    background: url("BedSideTable.jpg") no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
